<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TeamScrim-Home</title>
</head>

<body>

  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        Team Scrim
      </span>
    </div>
  </div>

  <section class="section section-light">
    <h2>About Us</h2>
    <p>
      TeamScrim is platform designed to offer various e-sports teams a chance to find competitive practice that they desire. We streamline all the information provided
      about the teams that register, for ease of communication. It is our goal to make finding practice easier than ever before for all levels of teams. No more reddit, twitter, or facebook
      posts and long tedious hours of communication.
    </p>
  </section>

  <div class="pimg2">
    <div class="ptext">
      <span class="border trans">
      What we offer?
    </span>
    </div>
  </div>


  <section class="section section-dark">
    <h2>Features</h2>
    <p>
      Simple and easy registration. Ability to create your team with detailed information about each player. Ability to post for a practice for a specific game. Allow you to choose which
      team to practice against. Messaging service to any team registered on the platform. Much more coming soon.
    </p>
  </section>

  <div class="pimg3">
    <div class="ptext">
      <span class="border trans">
      Road Map
    </span>
    </div>
  </div>

  <section class="section section-dark">
    <h2>Goals</h2>
    <p>
     COMING SOON!
    </p>
  </section>

  <div class="pimg1">
    <div class="ptext">
      <span class="border">
      Team Scrim
    </span>
    </div>
  </div>


</body>

</html>

