<div class="container">
  <h1 style="text-align:center">MESSAGE BOARD</h1>
  <!--<div class="row">
    <nav class="col-sm-2">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#inbox">Inbox</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#sent">Sent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#other">Other</a>
        </li>
      </ul>
    </nav>

    <div class="tab-content col">
    
      <div class="tab-pane" id="inbox">

        <table class="table table-bordered animated bounceIn" style="table-layout: fixed;width:100%; word-wrap:break-word;">
          <thead>
            <tr>
    
              <th style="width:25%">From</th>
              <th>Date</th>
              <th style="width:50%">Message</th>
              <th></th>
    
            </tr>
          </thead>
          <tbody *ngFor="let message of receivedMessages">
            <tr *ngIf="message.mDeleted == '0' ">
              <td style="width:25%"> {{message.messageFrom}}</td>
              <td> {{message.createdDate}}</td>
              <td style="width:50%">{{message.message}}</td>
              <td>D</td>
            </tr>
          </tbody>
        </table>







      </div>
      <div class="tab-pane" id="sent">3</div>
      <div class="tab-pane" id="other">4</div>
    </div>

  </div>-->
</div>

<div class="text-right">
    

      <a routerLink="/composeMessage" href="#" class="btn btn-success animated fadeInLeft">
        <i class="fa fa-envelope-o"></i> Compose Message</a>
</div>

 

  <hr>

<div class="row">
    <div class="col-sm-2" style="border:1px solid">
        <ul style="padding:10px" class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#inbox">Inbox</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#sent">Sent</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#other">Other</a>
            </li>
          </ul>
    
    </div>
    <div  class="col-sm-10" style="border:1px solid">
        <div class="tab-content col">
            
              <div class="tab-pane active" id="inbox" style="padding:10px">
        
                <table *ngIf="receivedMessages?.length > 0;else noReceivedMessages" class="table table-responsive table-bordered animated bounceIn" style="table-layout: fixed;width:100%; word-wrap:break-word;">
                  <thead>
                    <tr>
                      
                      <th>From</th>
                      <th>Date</th>
                      <th>Subject</th>
                      
            
                    </tr>
                  </thead>
                  <tbody *ngFor="let message of receivedMessages">
                    <tr *ngIf="message.mDeleted == '0' ">
                        
                      <td> {{message.messageFrom}}</td>
                      <td> {{message.createdDate}}</td>
                      <td> {{message.subject}}</td>
                      <td><a style="width:100%;background-color:tomato;color:white" [routerLink]="['/message/'+message.$key]" href="" class="btn">
                        <i class="fa fa-arrow-circle-o-right"></i> Details</a></td>
                      
                    </tr>
                  </tbody>
                </table>
        
        
        
        
        
        
        
              </div>
              <div class="tab-pane" id="sent" style="padding:10px">

                  <table *ngIf="sentMessages?.length > 0;else noSentMessages" class="table table-responsive table-bordered animated bounceIn" style="table-layout: fixed;width:100%; word-wrap:break-word;">
                      <thead>
                        <tr>
                            
                          <th>From</th>
                          <th>Date</th>
                          <th>Subject</th>
                          <th></th>
                          
                
                        </tr>
                      </thead>
                      <tbody *ngFor="let message of sentMessages">
                        <tr *ngIf="message.mDeleted == '0' ">
                           
                          <td> {{message.messageFrom}}</td>
                          <td> {{message.createdDate}}</td>
                          <td> {{message.subject}}</td>
                          <td><a style="width:100%;background-color:tomato;color:white" [routerLink]="['/message/'+message.$key]" href="" class="btn">
                            <i class="fa fa-arrow-circle-o-right"></i> Details</a></td>
                          
                        </tr>
                      </tbody>
                    </table>
            


              </div>
              <div class="tab-pane" id="other"><h2>Coming Soon!</h2></div>
            </div>
      
      
      
    
    
    
    
    
    </div>
</div>

<ng-template #noSentMessages>
    <hr>
    <h5>Looks like you have not sent any messages yet.</h5>
  </ng-template>
  <ng-template #noReceivedMessages>
      <hr>
      <h5>Looks like you have not received any messages yet.</h5>
    </ng-template>